.vs/DependencyInjection/v15/.suo
.vs/DependencyInjection/v15/Server/sqlite3/db.lock
.vs/DependencyInjection/v15/Server/sqlite3/storage.ide
.vs/DependencyInjection/v15/Server/sqlite3/storage.ide-shm
.vs/DependencyInjection/v15/Server/sqlite3/storage.ide-wal
DependencyInjection.Autofac/DI.Autofac.csproj
DependencyInjection.Autofac/obj/Debug/DI.Autofac.csproj.CoreCompileInputs.cache
DependencyInjection.Autofac/obj/Debug/DI.Autofac.csprojAssemblyReference.cache
DependencyInjection.AutofacHelper/obj/Debug/DI.AutofacHelper.csproj.CoreCompileInputs.cache
DependencyInjection.AutofacHelper/obj/Debug/DI.AutofacHelper.csprojAssemblyReference.cache
DependencyInjection.AutofacHelper/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DependencyInjection.AutofacHelper/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DependencyInjection.AutofacHelper/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Autofac.4.0.1/.signature.p7s
packages/Autofac.4.0.1/Autofac.4.0.1.nupkg
packages/Autofac.4.0.1/lib/net45/Autofac.dll
packages/Autofac.4.0.1/lib/net45/Autofac.xml
packages/Autofac.4.0.1/lib/netstandard1.1/Autofac.dll
packages/Autofac.4.0.1/lib/netstandard1.1/Autofac.xml
packages/Autofac.4.9.2/.signature.p7s
packages/Autofac.4.9.2/Autofac.4.9.2.nupkg
packages/Autofac.4.9.2/lib/net45/Autofac.dll
packages/Autofac.4.9.2/lib/net45/Autofac.pdb
packages/Autofac.4.9.2/lib/net45/Autofac.xml
packages/Autofac.4.9.2/lib/netstandard1.1/Autofac.dll
packages/Autofac.4.9.2/lib/netstandard1.1/Autofac.pdb
packages/Autofac.4.9.2/lib/netstandard1.1/Autofac.xml
packages/Autofac.4.9.2/lib/netstandard2.0/Autofac.dll
packages/Autofac.4.9.2/lib/netstandard2.0/Autofac.pdb
packages/Autofac.4.9.2/lib/netstandard2.0/Autofac.xml
packages/Autofac.Mvc5.4.0.2/.signature.p7s
packages/Autofac.Mvc5.4.0.2/Autofac.Mvc5.4.0.2.nupkg
packages/Autofac.Mvc5.4.0.2/lib/net45/Autofac.Integration.Mvc.dll
packages/Autofac.Mvc5.4.0.2/lib/net45/Autofac.Integration.Mvc.xml
packages/Microsoft.AspNet.Mvc.5.1.0/.signature.p7s
packages/Microsoft.AspNet.Mvc.5.1.0/Content/Web.config.install.xdt
packages/Microsoft.AspNet.Mvc.5.1.0/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.Mvc.5.1.0/lib/net45/System.Web.Mvc.dll
packages/Microsoft.AspNet.Mvc.5.1.0/lib/net45/System.Web.Mvc.xml
packages/Microsoft.AspNet.Mvc.5.1.0/Microsoft.AspNet.Mvc.5.1.0.nupkg
packages/Microsoft.AspNet.Razor.3.1.0/.signature.p7s
packages/Microsoft.AspNet.Razor.3.1.0/lib/net45/System.Web.Razor.dll
packages/Microsoft.AspNet.Razor.3.1.0/lib/net45/System.Web.Razor.xml
packages/Microsoft.AspNet.Razor.3.1.0/Microsoft.AspNet.Razor.3.1.0.nupkg
packages/Microsoft.AspNet.WebPages.3.1.0/.signature.p7s
packages/Microsoft.AspNet.WebPages.3.1.0/Content/Web.config.install.xdt
packages/Microsoft.AspNet.WebPages.3.1.0/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.WebPages.3.1.0/lib/net45/System.Web.Helpers.dll
packages/Microsoft.AspNet.WebPages.3.1.0/lib/net45/System.Web.Helpers.xml
packages/Microsoft.AspNet.WebPages.3.1.0/lib/net45/System.Web.WebPages.Deployment.dll
packages/Microsoft.AspNet.WebPages.3.1.0/lib/net45/System.Web.WebPages.Deployment.xml
packages/Microsoft.AspNet.WebPages.3.1.0/lib/net45/System.Web.WebPages.dll
packages/Microsoft.AspNet.WebPages.3.1.0/lib/net45/System.Web.WebPages.Razor.dll
packages/Microsoft.AspNet.WebPages.3.1.0/lib/net45/System.Web.WebPages.Razor.xml
packages/Microsoft.AspNet.WebPages.3.1.0/lib/net45/System.Web.WebPages.xml
packages/Microsoft.AspNet.WebPages.3.1.0/Microsoft.AspNet.WebPages.3.1.0.nupkg
packages/Microsoft.Web.Infrastructure.1.0.0.0/.signature.p7s
packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
